<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>

    </head>

    <body>
        <h3>Second Page to display Data</h3>
        <h3>Click F12 to see data returned from frontend</h3>

        <script>
            function getHashParams() {
            let hashParams = {};
            let e, r = /([^&;=]+)=?([^&;]*)/g,
                q = window.location.hash.substring(1);
            while ( e = r.exec(q)) {
                hashParams[e[1]] = decodeURIComponent(e[2]);
            }
            return hashParams;
            }

            const token = getHashParams().access_token;
            //alert(token)
            fetch('/getdata?token='+token).then((response)=>{
            response.json().then((data)=>{
                console.log(data)
            })
            })
            
        </script>


        <a href= './playlist'>click here to get playlist</a>


    </body>


</html>