<!DOCTYPE html>
<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <title>Home</title>

</head>

<body>
    <h3>Final Page after creating playlist</h3>





    <script>
        fetch('/generateplaylist').then((response) => {
            response.json().then((data) => {
                console.log(data)
            })
        })
    </script>


</body>


</html>